<a href="https://colab.research.google.com/github/ALRIER/Class2023/blob/February2023/RespuestasTallerDplyr%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install rpy2==3.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rpy2==3.5.1
  Downloading rpy2-3.5.1.tar.gz (201 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.7/201.7 KB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (1.15.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (3.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (2022.7.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (4.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.10.0->rpy2==3.5.1) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->rpy2==3.5.1) (2.1.2)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal->rpy2==3.5.1) (0.1.0.post0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal->rpy2==3.5.1) (2022.7)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... done
  Created wheel for rpy2: filename=rpy2-3.5.1-cp39-cp39-linux_x86_64.whl size=317920 sha256=91193152f3b39ed6fcb397723e525903e83f82c751eaed37eb234025413de167
  Stored in directory: /root/.cache/pip/wheels/09/e7/bc/33685b60ab54dba969596dd87244ee9f4c2e83dff9a53d4f20
Successfully built rpy2
Installing collected packages: rpy2
  Attempting uninstall: rpy2
    Found existing installation: rpy2 3.5.5
    Uninstalling rpy2-3.5.5:
      Successfully uninstalled rpy2-3.5.5
Successfully installed rpy2-3.5.1

In [2]:
# activate R magic
%load_ext rpy2.ipython

Este taller permitirá poner en práctica el uso de dplyr en R, pandas y numpy en Python. Para ello, vamos a crear un conjunto de datos ficticio que contendrá información sobre ventas de productos en diferentes regiones y periodos de tiempo.

#Creación del dataset

Para crear nuestro dataset, vamos a utilizar la función data.frame() en R y pd.DataFrame() en Python. Para ello, vamos a crear una lista con las variables que queremos incluir en nuestro dataset y luego convertiremos esa lista en un data frame.

In [3]:
%%R
library("dplyr")

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [19]:
%%R

# Crear lista con las variables del dataset
ventas = list(
  producto = c("Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"),
  region = c("Norte", "Norte", "Norte", "Sur", "Sur", "Sur"),
  periodo = c("Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"),
  ventas = c(100, 50, 75, 200, 150, 100)
)

# Convertir lista en data frame
ventas_df <- data.frame(ventas)

En Python:

In [20]:
import pandas as pd

# Crear lista con las variables del dataset
ventas = {
    "producto": ["Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"],
    "region": ["Norte", "Norte", "Norte", "Sur", "Sur", "Sur"],
    "periodo": ["Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"],
    "ventas": [100, 50, 75, 200, 150, 100]
}

# Convertir lista en data frame
ventas_df = pd.DataFrame(ventas)

Una vez que tenemos nuestro dataset, podemos proceder a realizar diferentes tareas utilizando dplyr en R y pandas y numpy en Python.

#Taller

A continuación, presentamos un taller de 10 puntos que nos permitirá poner en práctica el uso de dplyr en R y pandas y numpy en Python con nuestro dataset de ventas.

Carga los datos y visualiza el dataset. para cada dataset vamos a imprimir el encabezado para verificar que está bien cargado. 

Únicamente en python vamos a aplicar la orden describe()para ver un recuento estadístico y entender como se están comportando los datos.

In [6]:
%%R
#Your Code here guys! --->

NULL

In [7]:
#Your Code here guys! --->

Filtra el dataset para obtener las ventas de "Producto A".

In [8]:
%%R
#Your Code here guys! --->
# Filtrar ventas de "Producto A"
ventas_A = ventas_df %>%
  filter(producto == "Producto A") %>%
  select(ventas)

ventas_A

  ventas
1    100
2    200

In [9]:
#Your Code here guys! --->
# Filtrar ventas de "Producto A"
ventas_A = ventas_df.loc[ventas_df["producto"] == "Producto A", ["ventas"]]

ventas_A

   ventas
0     100
3     200

Agrupa el dataset por región y periodo y calcula la media de las ventas.

In [10]:
%%R
#Your Code here guys! --->
# Agrupar y calcular media
ventas_media = ventas_df %>%
  group_by(region, periodo) %>%
  summarise(media_ventas = mean(ventas))

# Mostrar resultado
ventas_media

`summarise()` has grouped output by 'region'. You can override using the
`.groups` argument.
# A tibble: 2 × 3
# Groups:   region [2]
  region periodo media_ventas
  <chr>  <chr>          <dbl>
1 Norte  Enero             75
2 Sur    Febrero          150

In [11]:
#Your Code here guys! --->
# Agrupar y calcular media
ventas_media = ventas_df.groupby(["region", "periodo"])["ventas"].mean().reset_index(name="media_ventas")

# Mostrar resultado
print(ventas_media)

  region  periodo  media_ventas
0  Norte    Enero          75.0
1    Sur  Febrero         150.0

Calcula la suma total de las ventas para cada periodo.

In [12]:
%%R
#Your Code here guys! --->
ventas_suma = ventas_df %>%
group_by(periodo) %>%
summarise(suma_ventas = sum(ventas))

ventas_suma

# A tibble: 2 × 2
  periodo suma_ventas
  <chr>         <dbl>
1 Enero           225
2 Febrero         450

In [13]:
#Your Code here guys! --->
ventas_suma = ventas_df.groupby("periodo")["ventas"].sum().reset_index(name="suma_ventas")

ventas_suma

   periodo  suma_ventas
0    Enero          225
1  Febrero          450

Utiliza la función arrange() en R y sort_values() en Python para ordenar el dataset por ventas de mayor a menor.

In [14]:
%%R
#Your Code here guys! --->
ventas_df = ventas_df[order(-ventas_df$ventas),]
ventas_df

    producto region periodo ventas
4 Producto A    Sur Febrero    200
5 Producto B    Sur Febrero    150
1 Producto A  Norte   Enero    100
6 Producto C    Sur Febrero    100
3 Producto C  Norte   Enero     75
2 Producto B  Norte   Enero     50

In [15]:
#Your Code here guys! --->
ventas_df = ventas_df.sort_values(by=['ventas'], ascending=False)
ventas_df

     producto region  periodo  ventas
3  Producto A    Sur  Febrero     200
4  Producto B    Sur  Febrero     150
0  Producto A  Norte    Enero     100
5  Producto C    Sur  Febrero     100
2  Producto C  Norte    Enero      75
1  Producto B  Norte    Enero      50

Utiliza la función select() en R y loc[] en Python para seleccionar las variables "producto" y "ventas".

In [16]:
%%R
#Your Code here guys! --->
ventas_df = ventas_df%>%select(producto, ventas)
ventas_df

    producto ventas
4 Producto A    200
5 Producto B    150
1 Producto A    100
6 Producto C    100
3 Producto C     75
2 Producto B     50

In [17]:
#Your Code here guys! --->
ventas_df = ventas_df.loc[:, ["producto", "ventas"]]
ventas_df

     producto  ventas
3  Producto A     200
4  Producto B     150
0  Producto A     100
5  Producto C     100
2  Producto C      75
1  Producto B      50

Utiliza la función filter() en R y query() en Python para filtrar el dataset para obtener las ventas de "Producto A" en la región Norte.

In [21]:
%%R
#Your Code here guys! --->
ventas_df_filtrado = ventas_df%>% filter(producto == "Producto A" & region == "Norte")
ventas_df_filtrado

    producto region periodo ventas
1 Producto A  Norte   Enero    100

In [22]:
#Your Code here guys! --->
ventas_df_filtrado = ventas_df.query('producto == "Producto A" and region == "Norte"')
ventas_df_filtrado

     producto region periodo  ventas
0  Producto A  Norte   Enero     100

Utiliza la función summarise() en R y agg() en Python para calcular la suma total de las ventas de "Producto A".

In [23]:
%%R
#Your Code here guys! --->
ventas_df %>% filter(producto == "Producto A") %>% summarise(total_ventas = sum(ventas))

  total_ventas
1          300

In [24]:
#Your Code here guys! --->
ventas_df.loc[ventas_df['producto'] == 'Producto A'].agg({'ventas': 'sum'})

ventas    300
dtype: int64

Utiliza la función group_by() en R y groupby()

In [25]:
%%R
#Your Code here guys! --->
ventas_df %>%
  group_by(producto, region) %>%
  summarise(ventas_total = sum(ventas))

`summarise()` has grouped output by 'producto'. You can override using the
`.groups` argument.
# A tibble: 6 × 3
# Groups:   producto [3]
  producto   region ventas_total
  <chr>      <chr>         <dbl>
1 Producto A Norte           100
2 Producto A Sur             200
3 Producto B Norte            50
4 Producto B Sur             150
5 Producto C Norte            75
6 Producto C Sur             100

In [26]:
#Your Code here guys! --->
ventas_df.groupby(['producto', 'region']).agg({'ventas': 'sum'})

                   ventas
producto   region
Producto A Norte      100
           Sur        200
Producto B Norte       50
           Sur        150
Producto C Norte       75
           Sur        100

In [27]:
%%R
ventas_df_filtrado = ventas_df %>% 
  group_by(region) %>% 
  filter(ventas >= 100) %>% 
  data.frame()
ventas_df_filtrado

    producto region periodo ventas
1 Producto A  Norte   Enero    100
2 Producto A    Sur Febrero    200
3 Producto B    Sur Febrero    150
4 Producto C    Sur Febrero    100

In [28]:
ventas_filtradas = pd.DataFrame()

for region, df_region in ventas_df.groupby('region'):
    df_region_filtrado = df_region.loc[df_region['ventas'] >= 100]
    ventas_filtradas = pd.concat([ventas_filtradas, df_region_filtrado])

ventas_filtradas.reset_index(drop=True, inplace=True)

print(ventas_filtradas)
print(df_region)
print(df_region_filtrado)

     producto region  periodo  ventas
0  Producto A  Norte    Enero     100
1  Producto A    Sur  Febrero     200
2  Producto B    Sur  Febrero     150
3  Producto C    Sur  Febrero     100
     producto region  periodo  ventas
3  Producto A    Sur  Febrero     200
4  Producto B    Sur  Febrero     150
5  Producto C    Sur  Febrero     100
     producto region  periodo  ventas
3  Producto A    Sur  Febrero     200
4  Producto B    Sur  Febrero     150
5  Producto C    Sur  Febrero     100

El código itera sobre "region" y "df_region" porque el DataFrame original ventas_df contiene una columna "region" que se utiliza para agrupar las filas por región en el objeto DataFrameGroupBy que se genera mediante el método groupby.

La variable "df_region" es simplemente un subconjunto del DataFrame original ventas_df que contiene solo las filas que pertenecen a la región actual en la iteración actual del bucle for. Es decir, "df_region" es el DataFrame que contiene solo las filas de la región actual que se están agrupando en ese momento.

El uso de "df_region" permite que se realicen operaciones específicas en cada región, como en este caso, donde se filtran las filas según un valor específico de la columna "ventas" para cada región.

Entonces, en resumen, la variable "df_region" se utiliza para referirse a cada subconjunto de datos que se está agrupando por la columna "region" en la iteración actual del bucle for, lo que permite realizar operaciones específicas en cada

Bien, ahora juguemos con datos propios.

Vamos a cargar 2 archivos, por un lado el documento CSV que tienen en sus repositorios de github. y además vamos a cargar la base de datos superstore que tendrán el siguiente link.
https://docs.google.com/spreadsheets/d/1r2ee4kEpcUJBUscoDQd0gImOvWb_iECj/edit?usp=sharing&ouid=106132101569136404581&rtpof=true&sd=true

Usando el primer set de datos vamos a trabajar únicamente en R

Para cargar el archivo desde github:

In [29]:
url= 'https://raw.githubusercontent.com/ALRIER/Class2023/main/test.csv'

In [30]:
import pandas as pd
df=pd.read_csv(url)

In [31]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20,satisfied

Como el archivo está montado en el entorno de python deberemos cambiar el documento al entorno de R

Tengo 2 formas, usando la orden 


```
%%R -i df
```
Que importa el dataframe df en el entorno de R

o la segunda forma es



```
# Importar las bibliotecas necesarias
import pandas as pd
from rpy2 import robjects
from rpy2.robjects import pandas2ri
```
y después 


```
# Convertir el dataframe de Python a un dataframe de R
pandas2ri.activate()
r_dataframe = pandas2ri.py2rpy(Nombre del dataframe)

# Imprimir el dataframe de R
print(r_dataframe)
```
Este comando encambio me permite trabajar dataframes dentro del entorno de python importando y exportando lementos para poder mezclar el código de python y R.

Por practicidad, recomiendo llevar a cabo el más sencillo para iniciar y conforme se gane práctica ir tratando con el más complicado.

In [42]:
%%R -i df

df%>%head()

  Unnamed: 0    id Gender     Customer Type Age  Type of Travel    Class
0          0 19556 Female    Loyal Customer  52 Business travel      Eco
1          1 90035 Female    Loyal Customer  36 Business travel Business
2          2 12360   Male disloyal Customer  20 Business travel      Eco
3          3 77959   Male    Loyal Customer  44 Business travel Business
4          4 36875 Female    Loyal Customer  49 Business travel      Eco
5          5 39177   Male    Loyal Customer  16 Business travel      Eco
  Flight Distance Inflight wifi service Departure/Arrival time convenient
0             160                     5                                 4
1            2863                     1                                 1
2             192                     2                                 0
3            3377                     0                                 0
4            1182                     2                                 3
5             311                     3                                 3
  Ease of Online booking Gate location Food and drink Online boarding
0                      3             4              3               4
1                      3             1              5               4
2                      2             4              2               2
3                      0             2              3               4
4                      4             3              4               1
5                      3             3              5               5
  Seat comfort Inflight entertainment On-board service Leg room service
0            3                      5                5                5
1            5                      4                4                4
2            2                      2                4                1
3            4                      1                1                1
4            2                      2                2                2
5            3                      5                4                3
  Baggage handling Checkin service Inflight service Cleanliness
0                5               2                5           5
1                4               3                4           5
2                3               2                2           2
3                1               3                1           4
4                2               4                2           4
5                1               1                2           5
  Departure Delay in Minutes Arrival Delay in Minutes            satisfaction
0                         50                       44               satisfied
1                          0                        0               satisfied
2                          0                        0 neutral or dissatisfied
3                          0                        6               satisfied
4                          0                       20               satisfied
5                          0                        0               satisfied

1. vamos a seleccionar solo las columnas Gender, Age y satisfaction conformando un nuevo datagrame llamado seleccion.

In [48]:
%%R

seleccion=df%>%select(Gender, Age, satisfaction)
seleccion

   Gender Age            satisfaction
0  Female  52               satisfied
1  Female  36               satisfied
2    Male  20 neutral or dissatisfied
3    Male  44               satisfied
4  Female  49               satisfied
5    Male  16               satisfied
6  Female  77               satisfied
7  Female  43               satisfied
8    Male  47               satisfied
9  Female  46               satisfied
10 Female  47               satisfied

2.  Ahora usando el nuevo df que hemos creado vamos a filtrar solo las filas donde la satisfacción es "satisfied" y a guardarlo en un df3:

In [54]:
%%R

#Your Code here guys! --->
df3 <- seleccion%>%
        filter(satisfaction == "satisfied")
df3

   Gender Age satisfaction
0  Female  52    satisfied
1  Female  36    satisfied
3    Male  44    satisfied
4  Female  49    satisfied
5    Male  16    satisfied
6  Female  77    satisfied
7  Female  43    satisfied
8    Male  47    satisfied
9  Female  46    satisfied
10 Female  47    satisfied

3. vamos a agrupar los datos por género y calcular la edad promedio y a guardarlo en un df4:

In [56]:
%%R

df4 <- df3%>%
      group_by(Gender)%>%
      summarize(edad_promedio = mean(Age))

df4

# A tibble: 2 × 2
  Gender edad_promedio
  <chr>          <dbl>
1 Female          50
2 Male            35.7

4. vamos a ordenar los resultados de seleccion por edad de mayor a menor, después vamos a agruparlos por género y vamos a averiguar la sumatoria de cada género para cada grupo los satisfechos y los insatisfechos. Este nuevo conteo lo vamos a guardar en una columna nueva llamada a y esto lo guardaremos en un nuevo df llamado df5

In [76]:
%%R
df5 <- seleccion%>% 
        arrange(desc(Age))%>%
        group_by(Gender)%>% 
        mutate(a=sum(Age))
df5

# A tibble: 11 × 4
# Groups:   Gender [2]
   Gender   Age satisfaction                a
   <chr>  <int> <chr>                   <int>
 1 Female    77 satisfied                 350
 2 Female    52 satisfied                 350
 3 Female    49 satisfied                 350
 4 Male      47 satisfied                 127
 5 Female    47 satisfied                 350
 6 Female    46 satisfied                 350
 7 Male      44 satisfied                 127
 8 Female    43 satisfied                 350
 9 Female    36 satisfied                 350
10 Male      20 neutral or dissatisfied   127
11 Male      16 satisfied                 127

Ahora parta cargar el archvio desde google colab

In [77]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [79]:
from pandas.io.excel import read_excel
#url='Ruta de acceso del archivo'
url='/content/drive/MyDrive/Databases/Sample - Superstore (1).xls'
df=pd.read_excel(url)
df.head()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

no olvidar que la orden puede ser pf.read_csv o pd.read_excel, todo depende del formato en elq ue se haya guardado el archivo.

In [ ]:
df=pd.read_excel(url)