<a href="https://colab.research.google.com/github/ALRIER/Class2023/blob/February2023/TallerDplyr%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install rpy2==3.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rpy2==3.5.1
  Downloading rpy2-3.5.1.tar.gz (201 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.7/201.7 KB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (1.15.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (3.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (2022.7.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (1.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.10.0->rpy2==3.5.1) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2->rpy2==3.5.1) (2.1.2)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... done
  Created wheel for rpy2: filename=rpy2-3.5.1-cp38-cp38-linux_x86_64.whl size=318372 sha256=635b17af095aa40a34c468263a4cb0b5c842c87863ae80c4602201cefa4b8853
  Stored in directory: /root/.cache/pip/wheels/6b/40/7d/f63e87fd83e8b99ee837c8e3489081c4b3489134bc520235ed
Successfully built rpy2
Installing collected packages: rpy2
  Attempting uninstall: rpy2
    Found existing installation: rpy2 3.5.5
    Uninstalling rpy2-3.5.5:
      Successfully uninstalled rpy2-3.5.5
Successfully installed rpy2-3.5.1

In [2]:
# activate R magic
%load_ext rpy2.ipython

Este taller permitirá poner en práctica el uso de dplyr en R, pandas y numpy en Python. Para ello, vamos a crear un conjunto de datos ficticio que contendrá información sobre ventas de productos en diferentes regiones y periodos de tiempo.

#Creación del dataset

Para crear nuestro dataset, vamos a utilizar la función data.frame() en R y pd.DataFrame() en Python. Para ello, vamos a crear una lista con las variables que queremos incluir en nuestro dataset y luego convertiremos esa lista en un data frame.

In [6]:
%%R
library("dplyr")

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [7]:
%%R

# Crear lista con las variables del dataset
ventas <- list(
  producto = c("Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"),
  region = c("Norte", "Norte", "Norte", "Sur", "Sur", "Sur"),
  periodo = c("Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"),
  ventas = c(100, 50, 75, 200, 150, 100)
)

# Convertir lista en data frame
ventas_df <- data.frame(ventas)

En Python:

In [8]:
import pandas as pd

# Crear lista con las variables del dataset
ventas = {
    "producto": ["Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"],
    "region": ["Norte", "Norte", "Norte", "Sur", "Sur", "Sur"],
    "periodo": ["Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"],
    "ventas": [100, 50, 75, 200, 150, 100]
}

# Convertir lista en data frame
ventas_df = pd.DataFrame(ventas)

Una vez que tenemos nuestro dataset, podemos proceder a realizar diferentes tareas utilizando dplyr en R y pandas y numpy en Python.

#Taller

A continuación, presentamos un taller de 10 puntos que nos permitirá poner en práctica el uso de dplyr en R y pandas y numpy en Python con nuestro dataset de ventas.

1. Carga los datos y visualiza el dataset. para cada dataset vamos a imprimir el encabezado para verificar que está bien cargado. 

Únicamente en python vamos a aplicar la orden describe()para ver un recuento estadístico y entender como se están comportando los datos.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

2. Filtra el dataset para obtener las ventas de "Producto A".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

3. Agrupa el dataset por región y periodo y calcula la media de las ventas.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

4. Calcula la suma total de las ventas para cada periodo.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

5. Utiliza la función mutate() en R y assign() en Python para crear una nueva variable que calcule la diferencia entre las ventas de cada producto y la media de las ventas de ese producto.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

6 .Utiliza la función arrange() en R y sort_values() en Python para ordenar el dataset por ventas de mayor a menor.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

7. Utiliza la función select() en R y loc[] en Python para seleccionar las variables "producto" y "ventas".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

8. Utiliza la función filter() en R y query() en Python para filtrar el dataset para obtener las ventas de "Producto A" en la región Norte.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

9. Utiliza la función summarise() en R y agg() en Python para calcular la suma total de las ventas de "Producto A".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

10. Utiliza la función group_by() en R y groupby()

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->